@import "tailwindcss";

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

/* .text {
  position: absolute;
  top: 166px; 
  left: 128px; 
  width: 520px; 
  font-family: Inter; 
  font-size: 48px; 
  line-height: 60px; 
  font-weight: 700; 
  color: #3D99F5FF; 
}

/* Container */
/* .container {
  position: absolute; 
  top: 72px; 
  left: 0px; 
  width: 1440px; 
  height: 610px; 
  background: #F0F7FEFF; 
  border-radius: 0px 0px 0px 0px; 
} */

:root {
  font-family: Inter;
  line-height: 1.5;
  font-weight: 400;

  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
